<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,700&display=swap"
  rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
<style>
  .card-header {
    padding: 1.25rem 1.5rem;
    margin-bottom: 0;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  }

  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.5rem;
    background-color: white;
  }

  .bg-gradient-danger {
    background: linear-gradient(88deg, #19345d 53%, #000000 101%) !important;

  }

  .btn-primary {
    color: #fff;
    background-color: #252c55;
    border-color: #5e72e4;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  }

  .avatar-group .avatar {
    position: relative;
    z-index: 2;
    border: 2px solid #fff;
    width: 29%;
    height: 87px;
    /* right: 27%; */
  }

  :root {
    --bodyFont: "IBM Plex Sans", sans-serif;
    --semiBold: 600;
    --bold: 700;
    --bodyBG: #e9eef6;
    --btnBG: #0c1727;
    --white: #fff;
    --lightblack: #333;
    --borderColor: #cfd4dc;
    --black: #000;
    --card1Gradient: linear-gradient(135deg, #f8f2f4 100%, #f9faf2 100%);
    --card2Gradient: linear-gradient(135deg, #faf2f4 100%, #f2f4fa 100%);
    --card3Gradient: linear-gradient(135deg, #f5f2fa 100%, #faf9f2 100%);
    --cardShadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.26);
  }


  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  }

  a {
    text-decoration: none;
    color: var(--lightblack);
  }

  a:hover {
    color: var(--black);
  }

  body,
  button {
    font-family: var(--bodyFont);
  }

  button:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1600px;
    background-color: var(--bodyBG);
  }

  img {
    height: 50px;
    width: 200px;
    border-radius: 10px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    margin-top: 10px;
    font-size: 20px;

  }

  p {

    text-align: right;
  }

  .dropdown-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 20px 40px;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 0.3rem;
  }

  .dropdown {
    margin: 15px 0;
    position: relative;
  }

  .browse-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-section {
    margin: 40px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }




  .main-content {
    padding: 1.5rem 0.5rem;
  }

  @media(max-width :376px) {
    body {
      height: 100%;
      font-size: 13px;
    }

    .main-content {
      padding: 1.5rem 0.5rem;
    }

    .cards-section {
      grid-template-columns: 1fr;
      margin: 20px 0;
     

    }
  }

  .fullness1 {
    color: red;
    font-weight: bold;
  }

  .fullness2 {
    color: orange;
    font-weight: bold;
  }

  .fullness3 {
    color: green;
    font-weight: bold;
  }

  .container-fluid {
    background-image: url(../../../assets/img/17.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .testt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
  }
  .cart {
    position: relative;
    width: 300px;
    height: 190px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 15);
    transition: 0.5s;
  }

  .cart:hover {
    height: 420px;
  }

  .imgbx {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 15);
    overflow: hidden;
    transition: 0.5s;
  }

  .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cart:hover .imgbx {
    width: 250px;
    height: 250px;
  }

  .cart .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;

  }
  .cart .content .details {
    padding:40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
  }
  .cart:hover .content .details{
    transform: translateY(0px);
  }
  .cart .content .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
  }
  .cart .content .details h2 span{
    font-size: 0.75em; 
    font-weight: 500;
    opacity: 0.5;
  }
  .cart .content .details .data{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  .cart .content .details .data h3{
    font-size: 1em;
    color: #555;
    line-height: 1.2em;
    font-weight: 600;
  }
  .cart .content .details .data h2{
    color: red;
  }
  .cart .content .details .data h3 span{
    font-size: 0.85em;
    opacity: 0.5;
    font-weight: 400;
  }
  .cart .content .details .actionBtn{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart .content .details .actionBtn button{
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #5e72e4;
    color: #fff;
    cursor: pointer;
  }
</style>

<div class="testt bg-gradient-danger pb-8 pt-5 pt-md-8">
  <input ngModel class="btn-primary" style="border-radius: 7%; text-align: center;" placeholder="Search" type="text" [(ngModel)]="searchText" > 
  
</div>


<div class="container-fluid mt--7">

  <section class="card-section">

    <tr *ngFor="let u of terrains | filter : searchText  ">
      <div class="cart">
        <div class="imgbx"> <img src="{{'https://terrain-web-service.onrender.com/terrain/images/'+u.imgFileName}}" alt=""></div>
        <div class="content">
          <div class="details">
            <h2>{{u.name}}<br><span>{{u.location}}</span></h2>
            <div class="data">
              <h3>FROM <br> <span>{{u.disponibility_from}}h</span></h3>
              <h2>{{u.price}}MAD</h2>
              <h3>TO <br> <span>{{u.disponibility_to}}h</span></h3>
            </div>
            <div class="actionBtn">
              <button (click)="onClick()">Learn more</button>
            </div>
          </div>
        </div>
      </div>
      

  </section>
</div>